$white: #ffffff;
$background-color: #ECEEF2;

$main-color: #1E13B5;
$main-font-color: #474747;
$main-color-light: #F2F1F9;

$secondary: #1D1F3F;
$secondary-light: #5b5c86;

$darkgrey: #474747;
$lightblue: #E9F0FE;
$lightgrey: #dee2e6;
